@media (max-width: 59em) {
  /* mobile navigation */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: #ffffffef;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    /* Allows NO transition at all (if need animation dont use display: none) */
    /* display:none */

    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it uneccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden;

    transition: all 0.5s ease-in;
    transform: translateX(100%);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  /*  select by name or add other class*/
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
